# Dependencies
**/node_modules/

# Next.js
frontend/.next/
frontend/out/

# NestJS
backend/dist/

# Environment
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# Editor
.vscode/
.idea/
config.bat
